/* *****************************************
/* VARIABLES
/*******************************************/
:root{
    --body-color: #A8D0E6;
    --body-color-dark: #8ca8b6;
    --alert-color: #374785;
    --color-white: #DADADA;

    --first-color: #24305E;
    --second-color: #F76C6C;
    --third-color: #e4d067;

    --first-color-hover: #e4d482;
    --second-color-hover: #1c2548;

    --card-color: #bddaea;
    --shadow-color: #00000018;
}
/******************************************
/* GLOBAL DESIGN
/*******************************************/
.dropdown-item{
    white-space: normal;
}
.main{
    padding: 20px;
}
.icon{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
/******************************************
/* SCROLLING STYLE
/*******************************************/
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #7f9eae;
}
::-webkit-scrollbar-thumb{
    background: var(--color-white);
    border-radius: 30px;
}
/******************************************
/*HEADER
/*******************************************/
.top-notif.alert{
    background: var(--alert-color);
    border-radius: 0;
}
.top-notif.alert p, .top-notif.alert a{
    color: var(--body-color);
}
.top-notif.alert span{
    text-decoration: underline;
}
.navbar{
    background: var(--body-color);
}
.navbar, #hero p, #solutions{
    font-family: 'Tenor Sans', sans-serif;
}
.navbar > .container *{
    flex-grow: 1;
}
.btn-gs{
    background: var(--third-color);
}
.btn-gs:hover{
    background: var(--first-color-hover);
}
#brand-name{
    font-size: 30px;
}
/******************************************
/* HERO SECTION
/*******************************************/
#hero, #solutions{
    background: var(--body-color);
}
#hero .row{
    min-height: 50vh;
}
#hero h1{
    font-family: ivypresto-display, serif;
}
/******************************************
/* SOLUTIONS SECTION
/*******************************************/
#solutions { 
    background-color: #a8d0e6;
    position: relative;
  }
#solutions::before {   
    content: "";
    width: 100%;
    height: 65px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 20vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 98L50 92C100 86 200 74 300 50C400 26 500 -10 600 2C700 14 800 74 900 98C1000 122 1100 110 1150 104L1200 98V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V98Z' fill='%23dadada'/></svg>");
}
#solutions .card{
    background: var(--card-color);
}
#solutions .card-img-top{
    height: 75%;
    object-fit: cover;
    object-position: top;
}
#solutions .card:hover{
    background: var(--color-white);
    box-shadow: 1px 8px 10px 2px var(--shadow-color);
    transition: 0.3s;
}
#solutions .btn-gs{
    width: 200px;
    background: var(--second-color);
    font-family: ivypresto-display, serif;
    border-radius: 50px;
}
#solutions .btn-gs:hover{
    background: var(--second-color-hover);
}
#solutions .icon i{
    color: var(--second-color);
}
.solutions-bottom-text{
    background-color: var(--body-color-dark);
    z-index: 1;
}
/******************************************
/* VISUAL EFFECTS
/*******************************************/
.fade-out {
    animation: fadeOut ease 0.3s;
    animation-fill-mode: forwards;
}
.fade-in {
    animation: fadeIn ease 0.3s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    1000% {
      opacity: 1;
    }
}
/******************************************
/* MEDIA QUERIES
/*******************************************/
@media only screen and (min-width: 576px) {
    #navbarSupportedContent{
        position: relative !important;
    }
}
@media (min-width: 778px) {
    #hero p{
        width: 75%;
    }
    #solutions::before {    
        height: 130px
    } 
}
@media (min-width: 992px) {
    #navbarSupportedContent{
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }
    #solutions{
        min-height: 900px;
    }
}